*.tmp
__init__.py
vehicle_data.proto
*.pyc
*.pyo
*.pyd
*.egg-info/
env/
venv/
*.log
1
*.idea
.venv
Dockerfile_base_rpi
Dockerfile_base_rpi_old
Dockerfile_base_x86
output_video.avi
requirements_rpi.txt
download_build_install_opencv.sh